.btn {
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 1rem 1rem;
    width: 100%;
    color: $c-white;
    cursor: pointer;
    transition: background-color $t-duration;
    background-color: $c-grey;
  
    &:hover {
      background-color: $c-grey;
    }
  
    &:active {
      transform: scale(0.9);
    }
  }